<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>OnlineLibrarySystem</display-name>
<!-- 	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list> -->
	  <servlet>
    <description>处理用户登录</description>
    <display-name>LoginService</display-name>
    <servlet-name>LoginService</servlet-name>
    <servlet-class>service.LoginService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginService</servlet-name>
    <url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
    <servlet>
    <description>处理读者登录</description>
    <display-name>ReaderLogin</display-name>
    <servlet-name>ReaderLogin</servlet-name>
    <servlet-class>controller.ReaderLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderLogin</servlet-name>
    <url-pattern>/ReaderLogin</url-pattern>
  </servlet-mapping>
    <servlet>
    <description>处理用户退出系统</description>
    <display-name>DestorySession</display-name>
    <servlet-name>DestorySession</servlet-name>
    <servlet-class>service.DestorySession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestorySession</servlet-name>
    <url-pattern>/DestorySession</url-pattern>
  </servlet-mapping>
    <servlet>
    <description>展示读者搜索的图书</description>
    <display-name>ShowBookInLib</display-name>
    <servlet-name>ShowBookInLib</servlet-name>
    <servlet-class>controller.ShowBookInLib</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBookInLib</servlet-name>
    <url-pattern>/ShowBookInLib</url-pattern>
  </servlet-mapping>
    <servlet>
    <description>读者搜索图书</description>
    <display-name>SearchBookForReader</display-name>
    <servlet-name>SearchBookForReader</servlet-name>
    <servlet-class>controller.SearchBookForReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookForReader</servlet-name>
    <url-pattern>/SearchBookForReader</url-pattern>
  </servlet-mapping>
</web-app>
